[Unit]
Description=Node Exporter
After=network.target
Requires=docker.service

[Service]
Type=simple
User={{ app_user }}
Group={{ app_user }}
ExecStart=/usr/local/bin/node_exporter
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target